@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

*{
  font-family: 'Ubuntu Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color-primary: #fff;
  --bg-color-secondary: #827ffe;
  --bg-color-ternary: #e6e6e6;
  --bg-color-fourth: #403866;
  --primary-color: #403866;
  --secondary-color: #8f8fa1;
  --ternary-color: #827ffe;
  --fourth-color: #fff;
}
body{
  width: 100%;
}
.flex-container-column{
  display: flex;
  flex-direction: column;
}
.container{
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.container-login{
  width: 390px;
  padding-bottom: 90px;
  padding-top: 50px;
}
form{
  width: 100%;
  justify-content: space-between;
}
h2{
  font-size: 2.3rem;
  color: #403866;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}
